@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-900: #0f172a;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
